# Miscellaneous
.class
.log
.pyc
.swp
.DS_Store
.atom
.buildlog
.history
.svn

# IntelliJ related
.iml
.ipr
.iws
.idea

# Visual Studio Code related
.vscode

# FlutterDartPub related
docapi
.dart_tool
.flutter-plugins
.packages
.pub-cache
.pub
build

# Android related
androidgradle-wrapper.jar
android.gradle
androidcaptures
androidgradlew
androidgradlew.bat
androidlocal.properties
androidGeneratedPluginRegistrant.java

# iOSXCode related
ios.mode1v3
ios.mode2v3
ios.moved-aside
ios.pbxuser
ios.perspectivev3
iossync
ios.sconsign.dblite
ios.tags
ios.vagrant
iosDerivedData
iosIcon
iosPods
ios.symlinks
iosprofile
iosxcuserdata
ios.generated
iosFlutterApp.framework
iosFlutterFlutter.framework
iosFlutterGenerated.xcconfig
iosFlutterapp.flx
iosFlutterapp.zip
iosFlutterflutter_assets
iosServiceDefinitions.json
iosRunnerGeneratedPluginRegistrant.

# Exceptions to above rules.
!iosdefault.mode1v3
!iosdefault.mode2v3
!iosdefault.pbxuser
!iosdefault.perspectivev3
!packagesflutter_toolstestdatadart_dependencies_test.packages
flickr/.flutter-plugins-dependencies
flickr/.flutter-plugins-dependencies
flickr/.flutter-plugins-dependencies
flickr/.packages
*.m
*.h
*.java
flickr/ios/Flutter/Generated.xcconfig
flickr/ios/Flutter/flutter_export_environment.sh
flickr/android/local.properties
flickr/.flutter-plugins-dependencies
flickr/.idea/libraries/Flutter_Plugins.xml
flickr/.packages
flickr/android/.gradle/6.7/executionHistory/executionHistory.bin
flickr/android/.gradle/6.7/executionHistory/executionHistory.lock
flickr/android/.gradle/6.7/fileHashes/fileHashes.bin
flickr/android/.gradle/6.7/fileHashes/fileHashes.lock
flickr/android/.gradle/6.7/fileHashes/resourceHashesCache.bin
flickr/android/.gradle/6.7/javaCompile/classAnalysis.bin
flickr/android/.gradle/6.7/javaCompile/jarAnalysis.bin
flickr/android/.gradle/6.7/javaCompile/javaCompile.lock
flickr/android/.gradle/6.7/javaCompile/taskHistory.bin
flickr/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
flickr/android/.gradle/buildOutputCleanup/outputFiles.bin
flickr/android/.gradle/checksums/checksums.lock
flickr/android/.gradle/checksums/md5-checksums.bin
flickr/android/.gradle/checksums/sha1-checksums.bin
flickr/android/local.properties
flickr/.idea/libraries/Dart_SDK.xml
flickr/.flutter-plugins-dependencies
flickr/.idea/libraries/Flutter_Plugins.xml
flickr/.packages
flickr/android/.gradle/6.7/executionHistory/executionHistory.bin
flickr/android/.gradle/6.7/executionHistory/executionHistory.lock
flickr/android/.gradle/6.7/fileHashes/fileHashes.bin
flickr/android/.gradle/6.7/fileHashes/resourceHashesCache.bin
flickr/android/.gradle/6.7/fileHashes/fileHashes.lock
flickr/android/.gradle/6.7/javaCompile/javaCompile.lock
flickr/android/.gradle/6.7/javaCompile/taskHistory.bin
flickr/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
flickr/android/.gradle/buildOutputCleanup/outputFiles.bin
flickr/android/local.properties
